#heading{
    margin-left: 350px;
    font-weight: bolder;
  }
  #icon{
    margin-left: 300px;;
  }
  #image{
    width: 100%;
    height: 600px;
  }
#texts{
  color:#FFB344;
  font-weight: bolder;
}
.cards{
  max-height: 120px;
  border: 3px solid transparent;
  
  margin-top: 20px;

}


#card{
  margin-right: 15px;
  background-color: #B8DFD8;
  
}
#img{
  height: 250px;
}
.foter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
}

  @media(max-width:500px) {
    #heading{
    margin-left: 0;
    font-weight: bolder;
  }
  #icon{
    margin-left: 0;
  }
  }